<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419940175084-tlfsj4aioparlj8n3cgnptci4lc3bvp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419940175084-tlfsj4aioparlj8n3cgnptci4lc3bvp9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>419940175084-4qb9l7n5emi57flmaqqr9ddjrbe1mlv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJwCCQNTZELfnhwAUbjqgMQ9kHvsQaWCM</string>
	<key>GCM_SENDER_ID</key>
	<string>419940175084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taccontractor</string>
	<key>PROJECT_ID</key>
	<string>taccontractor-f77ef</string>
	<key>STORAGE_BUCKET</key>
	<string>taccontractor-f77ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419940175084:ios:988c6b26d1a56a58c629c9</string>
</dict>
</plist>